entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "rapidfuzz-cpp", "taskflow"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run FastAPI Server"

[[workflows.workflow]]
name = "Run FastAPI Server"
author = 44575460
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host 0.0.0.0 --port 5000"

[[ports]]
localPort = 5000
externalPort = 80
